@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto Flex", sans-serif;
    font-style: normal;
    color: #101010;
    overflow-y: scroll;
}

.no-scroll {
    overflow-y: hidden;
    padding-right: 17px;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mrl-40 {
    margin-right: 40px;
    margin-left: 40px;
}

.mrl-60 {
    margin-right: 60px;
    margin-left: 60px;
}

.mrl-100 {
    margin-right: 100px;
    margin-left: 100px;
}

.header {
    height: 70px;
    padding: 18px 100px;
    background-color: #101010;
}

.automag-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #F6F966;
}

.header__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.header__item .item__link,
.header__phone-link {
    color: #fff;
}

.header__item .item__link:hover,
.header__phone-link:hover,
.header__item .item__link:active,
.header__phone-link:active {
    opacity: 0.7;
}

.header__nav {
    width: 602px;
}

.main {
    margin: 50px 0 100px;
}

.home__title {
    font-weight: 700;
    font-size: 120px;
    line-height: 130px;
    text-transform: uppercase;
    text-align: center;
}

.home__subtitle {
    width: 575px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

#home__banner {
    width: 100%;
}

.section__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 51.56px;
}

.section__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-decoration: underline !important;
}

.section__link:hover,
.section__link:active {
    opacity: 0.7;
}

.section__link:visited {
    color: inherit;
}

.catalog__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.catalog__section {
    width: 615px;
    max-height: 300px;
    padding: 25px 30px 30px;
    border: 1px solid #878787;
    border-radius: 15px;
}

.catalog-section__container {
    width: 100%;
}

.catalog-section__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 37.5px;
    white-space: nowrap;
}

.catalog-section__items-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.catalog-section__item {
    width: 250px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #B5B2B2;
}

.catalog-section__img {
    max-width: 290px;
    max-height: 238px;
}

.carousel__gallery {
    width: 1241px;
    overflow: hidden;
}

.carousel__gallery .popular__container {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 486px;
    width: 9999px;
    margin: 0;
    padding: 0;

    transition: margin-left 250ms;
}

.carousel__arrow {
    display: block;
    height: 40px;
    width: 40px;

    color: #878787;
    background-color: #fff;

    border-radius: 50%;
    border: 2px solid #878787;

    font-size: 22px;
    line-height: 22px;

    cursor: auto;
}

.carousel__arrow i {
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.carousel__arrow--allowed {
    color: #fff;
    background-color: #101010;
    border-color: #101010;

    cursor: pointer;
}

.carousel__arrow--allowed:hover,
.carousel__arrow--allowed:active {
    opacity: 0.7;
}

.popular__product-card {
    height: 486px;
    width: 407px;
    padding: 30px;
    border: 1px solid #878787;
    border-radius: 15px;
}

.product__status {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
}

.product__status--available {
    color: #4aa83b;
}

.product__status--order {
    color: #d24545;
}

.product__img {
    display: block;
    height: 217px;
    width: 271px;
    margin: 0 auto 15px;
}

.product__title {
    height: 90px;
    width: 347px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.05px;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.product__number-container {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color: #b5b2b2;
}

.product__order-btn {
    width: 347px;
    height: 34px;
    padding: 8px 0px;

    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
    text-align: center;

    color: #fff;
    background-color: #000;
    border-radius: 10px;

    transition: opacity 0.15s ease-in;
}

.product__order-btn:hover,
.product__order-btn:active {
    opacity: 0.7;
}

.contacts__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contacts__map-widget {
    width: 823px;
    height: 500px;
}

.contacts__img {
    width: 407px;
    height: 500px;
}

.contacts__address,
.contacts__phone-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000;
}

.contacts__address:hover,
.contacts__phone-link:hover {
    opacity: 0.7;
}

.form__input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__input,
.form__textarea {
    display: block;
    width: 375px;
    padding: 15px;
    border: 1px solid #878787;
    border-radius: 15px;

    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
}

.modal__inner .form__input {
    width: 345px;
}

.form__textarea {
    width: 927px;
    resize: none;
}

.modal__inner .form__textarea {
    width: 100%;
    height: 160px;
}

.form__btn-container {
    display: flex;
    gap: 10px;
}

.form__btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    text-align: center;
    color: #fff;
    background-color: #000;

    width: 198px;
    padding: 15px 45px;
    border: 1px solid black;
    border-radius: 10px;

    transition: opacity 0.15s ease-in;
}

.modal__inner .form__btn {
    width: 355px;
}

.form__btn--transparent {
    color: #000;
    background-color: #fff;
}

.form__btn:hover,
.form__btn:active {
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 30px;
    border: 2px solid #101010;
    border-radius: 10px;

    width: 780px;
    height: 415px;
}

.modal__inner {
    height: auto;
    font-size: 20px;
}

.close {
    color: #aaaaaa;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:active {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 37.5px;
}

.footer {
    display: flex;
    justify-content: left;
    gap: 70px;

    height: 285px;
    padding: 22px 100px;
    color: #fff;
    background-color: #101010;
}

.footer__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.footer__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.footer__item .item__link {
    display: block;
    margin-bottom: 5px;

    color: #b5b2b2;
}

.footer__item .item__link:hover,
.footer__item .item__link:active {
    opacity: 0.7;
}